@model IPagedList<CountryInfoDTO>
@{
    var toHeader = new TopHeaderDTO()
    {
        AdditionalText = "Countries",
        Image = string.Concat(settings.Value.BaseUrl, "images/top/country.jpg"),
        BreadCrumb = new List<BreadCrumbDTO>()
        {
            new BreadCrumbDTO()
            {
                Action = string.Empty,
                Text = Lang("_Home"),
                Order = 1,
            }
        }
    };
}

@await Html.PartialAsync("~/Views/Shared/Partials/_Top.cshtml", toHeader)

<section class="border-bottom mt-2">
    <div class="container">
        @if (Model.ToList() != null && Model.Count > 0)
        {
            <div class="row mb-1 align-items-center header-text mb-3">
                <div class="col-lg-6 col-sm-6">
                    <h3 class="font-weight-bold heading">
                        Country List
                    </h3>
                </div>
                <div class="col-lg-6 col-sm-6 text-lg-end">
                    <p>
                        <a asp-controller="Country" asp-action="Index" class="btn btn-light btn-sm fw-bold text-primary">View All Countries</a>
                    </p>
                </div>
            </div>
            <div class="row gx-5 justify-content-between content-row">
                @foreach (var item in Model)
                {
                    item.Index = Model.ToList().IndexOf(item) + 1;
                    @await Html.PartialAsync("~/Views/Country/Partials/_Country.cshtml", item)
                }
            </div>
            <div class="row">
                <div class="col-sm-12 mt-2 d-flex justify-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", "Home",
                new { page = page }),
                new PagedListRenderOptions {
                    ActiveLiElementClass = "active",
                    PageClasses = new[]{ "page-link"},
                    LiElementClasses=new[] { "page-item" },
                    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
                    LinkToNextPageFormat = "Next",
                    LinkToPreviousPageFormat = "Prev",
                    MaximumPageNumbersToDisplay = 3,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    DisplayLinkToNextPage = PagedListDisplayMode.Always
                })
                </div>
            </div>
        }
    </div>
</section>