@model List<CountryInfoDTO>

@{
    var topHeader = new TopHeaderDTO()
    {
        AdditionalText = Lang("_Countries"),
        Image = string.Concat(settings.Value.BaseUrl, "images/top/country.jpg"),
    };
    var countries = Html.Raw(Json.Serialize(Model));
}

@await Html.PartialAsync("~/Views/Shared/Partials/_Top.cshtml", topHeader)

<section class="border-bottom mt-2">
    <div class="container">
        @if (Model != null && Model.Count > 0)
        {
            <div class="row mb-1 header-text mb-3">
                <div class="col-sm-12 d-flex justify-content-center">
                    <h3 class="font-weight-bold heading">
                        @Lang("_CountryList")
                    </h3>
                </div>
            </div>
            <div class="row gx-5 justify-content-between content-row countries">
                 @await Html.PartialAsync("~/Views/Country/Partials/_Country.cshtml")
            </div>
        }
    </div>
</section>

@section Scripts{
    <script>
        (function() {
            createVueInstance('@countries');
        })();
    </script>
}