<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Elvin Reyes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="~/favicon.ico" />

    <meta name="description" content="countries" />
    <meta name="keywords" content="countries, regions, subRegions" />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"/>

    <title>@ViewBag.Title</title>

     <environment include="Development">
         <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
         <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true">
     </environment>
</head>
<body>
    @await Html.PartialAsync("~/Views/Shared/Partials/_Nav.cshtml")

    <div id="app">
        @RenderBody()
    </div>

    @await Html.PartialAsync("~/Views/Shared/Partials/_Footer.cshtml")

     <div id="overlayer"></div>
        <div class="loader">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        </div>

    <form id="__AjaxForm">@Html.AntiForgeryToken()</form>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/limonte-sweetalert2/sweetalert2.all.min.js"></script>
        <script src="~/lib/vue/vue.global.min.js"></script>
        <script src="https://unpkg.com/vuejs-paginate-next@1.0.2/dist/vuejs-paginate-next.umd.js"></script>
        <script src="~/lib/chosen/chosen.jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @Html.RenderPartialViewScripts()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
