@model EErrorCodeClientApi;

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

     var topHeader = new TopHeaderDTO()
     {
         AdditionalText = Lang("_ErrorPage"),
         Image = string.Concat(settings.Value.BaseUrl, "images/Home/top/error.jpg")
     };
}

@await Html.PartialAsync("~/Views/Shared/Partials/_Top.cshtml", topHeader)

<div class="section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-12">
                <h1>@Lang("_ErrorPage")</h1>
                @Lang("_Global_ServerError")
                <div class="text-center">
                    @Lang("_Global_ServerError_ReferenceCode"): @(((int)Model).ToString("D8"))
                </div>
            </div>
        </div>
    </div>
</div>