@model TopHeaderDTO

<div class="hero" style="background-image: url('@Model.Image');">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 col-sm-12 text-center mt-5">
                <h1 class="heading text-light">
                    @Model.AdditionalText
                </h1>
                <div class="mb-3">
                    <input type="text" v-model="search" class="form-control px-4" placeholder="@Lang("_CountrySearch")">
                </div>
            </div>
        </div>
    </div>
</div>